h2 {
  margin: 50px 50px;
  color: white;
  text-align: ;
}
.tasks-container {
  margin: 70px 50px;
  width: auto; /* Adjust the width as needed */
  height: auto;
  color: white;
  padding: 2dvb;
  /* Set background color with transparency */
  background-color: rgba(18, 9, 142, 0.5); /* Adjust the last value (alpha) to change transparency */
  /* Add drop shadow effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust the last value (alpha) to change opacity of shadow */
  /* Specify other styles for the tasks container */
  position: fixed;
  left: 0;
  top: 180px; /* Move down by 400px */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  border-radius: 10px; /* Round the corners */
  
}
